html {
	font-size: large;
}

.bg-circle {
	background: radial-gradient(107% 107% at 50% -7%, rgba(75, 75, 148, 0) 0%, #59599e 60%);
}

.font-title {
	font-family: "Patua One", bold;
	// text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.15);
	// margin: 2em 0 0.4em 0;
}
