---
import Layout from "../layouts/Layout.astro";
import screenHomeImage from "../assets/screen-home.png";
import screensImage from "../assets/screens.png";
---

<Layout title="HeimV - Die Heimverwaltungssoftware">
  <section class="container mx-auto max-w-5xl p-4 h-screen flex flex-col justify-center align-center relative">
    <h1 class="text-white font-title text-[clamp(4vw,8vw,3rem)] leading-snug text-center font-bold mx-5 mb-10">
      <span class="text-dark">Das Verwaltungs&shy;werkzeug</span><br />für Pfadi- und Gruppen&shy;häuser
    </h1>
    <div id="hero-image" class="absolute top-[80%]">
      <img src={screenHomeImage.src} alt="HeimV" width={1542} height={1138} />
    </div>
  </section>

  <section class="container mx-auto max-w-5xl p-4 h-screen flex flex-col justify-center align-center">
    <h1 class="font-title text-[clamp(4vw,8vw,3rem)] leading-snug text-center font-bold mx-5 my-[4em]">
      Reservations&shy;verwaltung<br />von <strong class="text-dark">A</strong>nfrage bis <strong class="text-dark"
        >Z</strong
      >ahlung
    </h1>
  </section>

  <section class="container mx-auto max-w-5xl p-4">
    <h2 class="text-4xl mt-10 mb-5 font-title">Die Vorteile</h2>
    <ul>
      <li class="pb-5">
        <span class="font-bold text-dark font-title me-1 text-2xl">HeimV</span> vereinfacht die Verwaltung von Reservationen
        und spart damit Zeit, Geld und Nerven.
      </li>
      <li class="pb-5">
        <span class="font-bold text-dark font-title me-1 text-2xl">HeimV</span> ist genau auf die Bedürfnisse von Schweizer
        Pfadiheimen und Gruppenhäusern zugeschnitten.
      </li>
      <li class="pb-5">
        <span class="font-bold text-dark font-title me-1 text-2xl">HeimV</span> bietet alles wichtige aus einer Hand: <a
          href="features#features"
          class="text-dark underline hover:text-primary">Features</a
        >
      </li>
      <li class="pb-5">
        <span class="font-bold text-dark font-title me-1 text-2xl">HeimV</span> wird in der Schweiz entwickelt und betrieben.
        Alle Daten sind auf Servern in der Schweiz.
      </li>
    </ul>
  </section>

  <section class="container mx-auto max-w-5xl p-5">
    <h2 class="text-4xl mt-10 mb-5 font-title" id="features">Die Features</h2>
    <ul class="list-disc ps-6">
      <li class="pb-3">
        <a class="underline text-dark hover:text-primary" href="features#feature-bookings"
          >Reservationsanfragen verwalten</a
        >
      </li>
      <li class="pb-3">Verträge und Anzahlungen erstellen</li>
      <li class="pb-3">
        <a class="underline text-dark hover:text-primary" href="features#feature-tarifs"
          >Tarife für Buchungen festlegen</a
        >
      </li>
      <li class="pb-3">Verbrauch abrechnen</li>
      <li class="pb-3">
        <a class="underline text-dark hover:text-primary" href="features#feature-invoices">Rechnungen versenden</a>
      </li>
      <li class="pb-3">Zahlungen via ESR-Standard einlesen und verwalten</li>
    </ul>
    <a href="/features">
      <figure>
        <!-- <img src={screensImage.src} alt="" width={1200} height={886} /> -->
        <img class="my-10 mx-auto" src={screensImage.src} alt="" width={800} height={590} />
      </figure></a
    >
    <p class="my-10 text-center">... alles bequem über den Browser.</p>
  </section>

  <section class="container mx-auto max-w-5xl p-4">
    <h2 class="text-4xl mt-10 mb-5 font-title" id="features">Die Story</h2>
    <p class="mb-5">
      HeimV wurde als Werkzeug für den gesamten Buchungs- und Abrechnungsprozess für die Heime des<a
        href="https://pfadi-heime.ch">Vereins Pfadiheime St. Georg</a
      > konzipiert und 2019 umgesetzt.
    </p>
    <p class="mb-5">
      2020 kamen weitere Heimvereine dazu. Seit 2021 wird HeimV von der &nbsp;<a
        class="underline text-dark hover:text-primary"
        href="https://stiftung-pfadiheime.ch/">Stiftung Pfadiheime Schweiz unterstützt</a
      >.
    </p>
    <p class="mb-5">
      HeimV ist open source Software (<a
        class="underline text-dark hover:text-primary"
        href="https://github.com/diegosteiner/heimv">GitHub</a
      >) und wird stetig weiterentwickelt.
    </p>
  </section>
  <section class="container mx-auto max-w-5xl p-4">
    <div class="rounded-lg bg-circle p-10 text-xl text-white my-[20vh] h-[40vh] flex flex-col justify-center">
      <h2 class="mb-8 text-4xl font-title text-center">Demonstration gefällig?</h2>
      <p class="text-center">
        Möchtet ihr HeimV unverbindlich ausprobieren?

        <a class="underline hover:text-primary" href="mailto:info@heimv.ch">Demozugang jetzt beantragen</a>
      </p>
    </div>
  </section>
</Layout>

<style lang="scss">
  #hero-image {
    transition: transform 0.1s linear;
  }

  body {
    background-image: url("/background.svg");
    background-position: top center;
    background-size: auto 100vh;
    background-repeat: no-repeat;
  }
</style>

<script>
  const heroImage = document.getElementById("hero-image");

  addEventListener("scroll", (event) => {
    if (!heroImage) return;
    const top = -window.scrollY / 2;
    heroImage.style.transform = `translateY(${top}px)`;
  });
</script>
