---

---

<footer class="text-xs text-[#e8e8ff] bg-heimv-700">
  <div class="container max-w-5xl mx-auto p-4 grid grid-cols-1 md:grid-cols-4 gap-4">
    <div>
      <h2 class="font-heading font-bold m-0 mb-2">Sprachen</h2>
      <ul class="list-unstyled">
        <!-- <li><a href="/">en français</a></li> -->
        <!-- <li><a href="/">in italiano</a></li> -->
        <li><a href="/">auf Deutsch</a></li>
      </ul>
    </div>
    <div>
      <h2 class="font-heading font-bold m-0 mb-2">Rechtliches</h2>
      <ul class="list-unstyled">
        <li><a href="/privacy">Datenschutzerklärung</a></li>
        <li><a href="/terms">Allgemeine Geschäftsbedingungen</a></li>
        <!-- <li><a href="/de/imprint">Impressum</a></li> -->
      </ul>
    </div>
    <div>
      <h2 class="font-heading font-bold m-0 mb-2">Links</h2>
      <ul class="list-unstyled">
        <li><a href="https://app.heimv.ch">App</a></li>
        <li><a href="https://github.com/diegosteiner/heimv">Code auf github</a></li>
      </ul>
    </div>
    <div>
      <h2 class="font-heading font-bold m-0 mb-2">Partner</h2><ul class="list-unstyled">
        <li><a href="https://www.stiftung-pfadiheime.ch">Stiftung Pfadiheime Schweiz</a></li>
        <li><a href="https://www.pfadiheime.ch">Pfadiheim-Verzeichnis</a></li>
        <li><a href="https://pfadi.swiss">Pfadibewegung Schweiz</a></li>
      </ul>
    </div>
  </div>
</footer>
