---
import logo from "../assets/logo.svg";
---

<header class="container">
  <nav class="nav">
    <img src={logo.src} alt="HeimV Logo" width={150} height={48} />
    <div>
      <a class="button" href="https://github.com/diegosteiner/heimv">zum Code</a>
      <a class="button bold" href="https://app.heimv.ch">zur App</a>
    </div>
  </nav>
</header>

<style lang="scss">
  header {
    padding: 1rem;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
      padding: 0.5rem;
      border-radius: 0.25rem;
      text-align: center;
      text-decoration: none;
      flex: 0;
      margin-left: 1em;
      white-space: nowrap;
      text-shadow: 0 0 0.25em var(--color-light-gray);

      &:hover {
        text-shadow: 0 0 0.25em var(--color-black);
        color: white;
        text-decoration: none;
      }
    }
  }
</style>
