---
import logo from "../assets/logo.svg";

export interface Props {
  transparent?: boolean;
}

const { transparent = false } = Astro.props;
---

<header class:list={["p-4 text-lg text-heimv-900", { "bg-heimv-400": !transparent }]}>
  <nav class="container mx-auto max-w-5xl flex justify-between items-center">
    <a href="/"><img src={logo.src} alt="HeimV Logo" width={150} height={48} /></a>
    <ul class="list-none flex gap-2">
      <li>
        <a
          class="p-3 ms-4 grow-0 drop-shadow whitespace-nowrap hover:text-heimv-50 no-underline hover:underline"
          href="/highlights">Highlights</a
        >
      </li>
      <li>
        <a
          class="p-3 ms-4 grow-0 drop-shadow whitespace-nowrap hover:text-heimv-50 no-underline hover:underline"
          href="https://github.com/diegosteiner/heimv">Code</a
        >
      </li>
      <li>
        <a
          class="p-3 ms-4 grow-0 drop-shadow whitespace-nowrap hover:text-heimv-50 no-underline hover:underline"
          href="https://app.heimv.ch">Login</a
        >
      </li>
    </ul>
  </nav>
</header>
