---
import logo from "../assets/logo.svg";
import logoIcon from "../assets/logo_icon.svg";

export interface Props {
  transparent?: boolean;
}

const { transparent = false } = Astro.props;
---

<header
  class:list={[
    "p-4 text-lg  text-heimv-50",
    {
      "bg-heimv-400": !transparent,
      "drop-shadow shadow-heimv-800": transparent,
    },
  ]}
>
  <nav
    class:list={[
      "container mx-auto max-w-5xl flex justify-between items-center",
      { "text-heimv-50": !transparent },
    ]}
  >
    <a href="/">
      <picture>
        <source
          srcset={logoIcon.src}
          media="(max-width: 500px)"
          width={150}
          height={150}
        />
        <source
          srcset={logo.src}
          media="(min-width: 500px)"
          width={150}
          height={48}
        />
        <img src={logo.src} alt="HeimV Logo" width={150} height={48} />
      </picture>
    </a>
    <ul class="list-none flex md:gap-10 sm:gap-5 text-xl font-bold uppercase">
      <li>
        <a
          class="p-3 grow-0 whitespace-nowrap hover:text-heimv-50 no-underline"
          ,
          href="/features">💡 Features</a
        >
      </li>
      <li>
        <a
          class="p-3 grow-0 whitespace-nowrap hover:text-heimv-50 no-underline"
          href="https://github.com/diegosteiner/heimv">Code</a
        >
      </li>
      <li>
        <a
          class="p-3 grow-0 whitespace-nowrap hover:text-heimv-50 no-underline"
          href="https://app.heimv.ch">Login</a
        >
      </li>
    </ul>
  </nav>
</header>
