---
import logo from "../assets/logo.svg";
import logoIcon from "../assets/logo_icon.svg";

export interface Props {
  transparent?: boolean;
}

const { transparent = false } = Astro.props;
---

<header
  class:list={[
    "p-4 text-lg  text-heimv-50",
    {
      "bg-heimv-400": !transparent,
      "drop-shadow shadow-heimv-800": transparent,
    },
  ]}
>
  <nav
    class:list={[
      "container mx-auto max-w-5xl flex justify-between items-center font-heading",
      { "text-heimv-50": !transparent, "text-slate-700": transparent },
    ]}
  >
    <a href="/">
      <picture>
        <source
          srcset={logoIcon.src}
          media="(max-width: 500px)"
          width={150}
          height={150}
        />
        <source
          srcset={logo.src}
          media="(min-width: 500px)"
          width={150}
          height={48}
        />
        <img src={logo.src} alt="HeimV Logo" width={150} height={48} />
      </picture>
    </a>
    <ul class="list-none flex md:gap-10 sm:gap-5 text-xl font-bold uppercase">
      <li>
        <a
          class="p-3 grow-0 whitespace-nowrap hover:text-heimv-50 no-underline"
          ,
          href="/features">💡 Features</a
        >
      </li>
      <li>
        <a
          class="p-3 grow-0 whitespace-nowrap hover:text-heimv-50 no-underline"
          href="/articles">Dokumentation</a
        >
      </li>
      <li>
        <a
          class="p-3 grow-0 whitespace-nowrap hover:text-heimv-50 no-underline"
          href="https://github.com/diegosteiner/heimv">Code</a
        >
      </li>
      <li>
        <a
          class="p-3 grow-0 whitespace-nowrap hover:text-heimv-50 no-underline"
          href="https://app.heimv.ch">Login</a
        >
      </li>
    </ul>
    <!-- <svg
      class="absolute left-0 w-full h-auto pointer-events-none"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 800 600"
      fill="none"
    >
      <path
        d="M400 0C500 50 600 150 700 250C800 350 700 450 600 500C500 550 400 500 300 450C200 400 100 300 50 200C0 100 300 -50 400 0Z"
        fill="#a7a7e2"
      />
    </svg> -->
  </nav>
</header>
