---
import logo from "../assets/logo.svg";
---

<header class="container mx-auto p-4 max-w-5xl text-lg text-black">
  <nav class="flex justify-between items-center">
    <a href="/"><img src={logo.src} alt="HeimV Logo" width={150} height={48} /></a>
    <div>
      <a
        class="p-3 rounded hover:bg-dark text-center ms-4 grow-0 drop-shadow whitespace-nowrap hover:text-white no-underline"
        href="https://github.com/diegosteiner/heimv">zum Code</a
      >
      <a
        class="p-3 rounded hover:bg-dark text-center ms-4 grow-0 drop-shadow whitespace-nowrap font-bold hover:text-white no-underline"
        href="https://app.heimv.ch">zur App</a
      >
    </div>
  </nav>
</header>
