---
import Layout from "../../../layouts/Layout.astro";

import { getTranslatedArticles } from "../../../services/articles";

export async function getStaticPaths() {
  return (await getTranslatedArticles()).map((article) => ({
    params: { id: article.id, locale: article.locale },
    props: article,
  }));
}

const { id, title, content, tags } = Astro.props;
---

<Layout title={id}>
  <article>
    <h1>{title}</h1>
    <div set:html={content} />
    <ul class="tags">
      {
        tags.map((tag) => (
          <li>
            <a href="#">{tag.label}</a>
          </li>
        ))
      }
    </ul>
  </article>
</Layout>

<style lang="scss">
  article {
    background-color: var(--color-fg);
    color: var(--color-black);
    padding: 2.5em;
    border-radius: 2em;
    font-size: 1.2rem;
    line-height: 1.66em;
  }

  .tags {
    list-style: none;
    padding: 0;
    margin-top: 2em;

    & > li {
      display: inline-block;
      margin: 0.2em;

      & > a {
        font-size: 1rem;
        background-color: peachpuff;
        padding: 0.33em;
        text-decoration: none;
        color: var(--color-black);
        border: 2px solid palevioletred;
        border-radius: var(--handdrawn-border-radius);
      }
    }
  }
</style>
