@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-heimv-50: #fbfbfe;
  --color-heimv-100: #f0f0fa;
  --color-heimv-200: #d5d5f1;
  --color-heimv-300: #bebee9;
  --color-heimv-400: #a7a7e2;
  --color-heimv-500: #8c8cd9;
  --color-heimv-600: #7575d1;
  --color-heimv-700: #59599e;
  --color-heimv-800: #3939ac;
  --color-heimv-900: #2e2e52;
  --color-heimv-950: #29297a;
  --font-heading: "Patua One", "sans-serif";
}

.bg-circle {
  background: radial-gradient(107% 107% at 50% -7%, rgba(75, 75, 148, 0) 0%, #59599e 60%);
}

.text-effect-gradient {
  background: linear-gradient(135deg, var(--color-heimv-200), var(--color-heimv-600));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
