---
import Main from "./Main.astro";
import Markdown from "./Markdown.astro";
const { frontmatter } = Astro.props;
---

<Main title={frontmatter.title} breadcrumbs={[{ title: frontmatter.title, href: frontmatter.slug }]} >
  <div class="bg-heimv-50 rounded-md shadow p-10">
    <Markdown>
      <slot />
    </Markdown>
  </div>
</Main>
