---
export interface Props {
  title: string;
  breadcrumbs?: { href: string; title: string }[];
}

import Breadcrumbs from "../components/breadcrumbs.astro";
import Layout from "./Layout.astro";
import Markdown from "./Markdown.astro";
const { breadcrumbs, title } = Astro.props;
---

<Layout title={title}>
  <div class="py-6 px-4 container max-w-5xl mx-auto">
    <Breadcrumbs links={breadcrumbs || []} />
  </div>
  <main class="container mx-auto max-w-5xl p-4 mb-8 min-h-screen">
    <slot />
  </main>
</Layout>
