---

---

<div
  class="
  text-xl leading-8 max-w-full
  prose
  prose-headings:font-heading
  prose-p:my-3
  prose-blockquote:not-italic
  prose-blockquote:font-normal
  prose-blockquote:border
  prose-blockquote:border-yellow-300
  prose-blockquote:bg-yellow-100
  prose-blockquote:rounded
  prose-blockquote:px-4
  prose-blockquote:quotes-none
  prose-blockquote:quotes-none
  "
>
  <slot />
</div>
