---
import Layout from "./Layout.astro";
import Markdown from "./Markdown.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main class="container mx-auto max-w-3xl p-4 min-h-screen">
    <div class="bg-white rounded-md shadow p-10">
      <Markdown>
        <slot />
      </Markdown>
    </div>
  </main>
</Layout>
