---
import Layout from "../layouts/Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout url={frontmatter.url}>
  <main class="prose container mx-auto max-w-3xl p-4 h-min-screen">
    <div class="bg-white rounded-md shadow p-10">
      <slot />
    </div>
  </main>
</Layout>
